<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/Brand.css">
    <title>Brand Panel</title>
    <script src="/static/js/FillCategories.js"></script>
    <script>
         $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
</head>

<body>
{% include 'AdminAppbar.html' %}
<form action="/submitbrand" method="post" enctype="multipart/form-data"> {% csrf_token %}

<div class="maincontainer">
    <div class="root">
               <div class="logo">
                       <span style="font-weight: bold;font-size: 28px;margin-bottom: 19px;">Brand Interface</span>
                       <span style="width: 35%;display: flex;justify-content: flex-end;margin-right: 13px;"><a href="/displayallbrand"><i class="material-icons" style="color: #FFFFFF">toc</i></a></span>
                </div>
               <div class="row">
                   <div class="input-field col s6">
                        <i class="material-icons prefix">add_shopping_cart</i>
                        <select id="categoryname" name="categoryname">
                        <option value="" disabled selected>Choose Category Name</option>
                        </select>
                        <label>Category Name</label>
                    </div>
                   <div class="input-field col s6">
                        <i class="material-icons prefix">add_shopping_cart</i>
                        <select id="subcategoryname" name="subcategoryname">
                        <option value="" disabled selected>Choose SubCategory Name</option>
                        </select>
                        <label>SubCategory Name</label>
                    </div>
               </div>
               <div class="row">
                    <div class="input-field col s12">
                         <i class="material-icons prefix">add_shopping_cart</i>
                        <input name="brandname" id="brandname" type="text" class="validate">
                        <label for="brandname">Brand Name</label>
                    </div>
               </div>
               <div class="row">
                    <div class="input-field col s6">
                         <i class="material-icons prefix">account_circle</i>
                        <input name="contactperson" id="contactperson" type="text" class="validate">
                        <label for="contactperson">Contact Person</label>
                    </div>
                    <div class="input-field col s6">
                         <i class="material-icons prefix">call</i>
                        <input name="mobileno" id="mobileno" type="text" class="validate">
                        <label for="mobileno">Mobile Number</label>
                    </div>
                </div>
               <div class="row">
                    <div class="input-field col s12">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" name="brandicon" id="brandicon" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path" type="text" placeholder="Upload one or more files">
                                </div>
                            </div>
                    </div>
               </div>
               <div class="row">
                   <div class="input-field col s12">
                        <i class="material-icons prefix">assessment</i>
                        <select id="status" name="status">
                        <option value="" disabled selected>Choose Product Status</option>
                        <option>Top</option>
                        <option>Trending</option>
                        <option>Popular</option>
                        <option>Discontinue</option>
                        </select>
                        <label>Status</label>
                    </div>
               </div>
               <div class="row">
                     <div class="col s6 btnstyle btnmiddle">
                        <button class="btn waves-effect waves-light button" style="width:80%;border-radius: 20px" type="submit">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6 btnstyle btnmiddle">
                        <button class="btn waves-effect waves-light button" style="width:80%;border-radius: 20px" type="reset">Reset
                            <i class="material-icons right">clear</i>
                        </button>
                   </div>
               </div>
               <div class="row">
                <div class="col s12 btnmiddle">
                    {{msg}}
                </div>
            </div>

    </div>
</div>
</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

// Side NavBar................
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
// ............................

$('.dropdown-trigger').dropdown();
</script>
</html>


