<style>
    #maindiv{
        background: linear-gradient(90deg, rgba(23,1,1,0.6001751042213761) 0%, rgba(157,175,239,0.5833683815323004) 3%, rgba(62,7,205,0.14359247116815477) 66%, rgba(4,95,27,0.6589986336331408) 85%);
        padding: 15px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
</style>

<div id="maindiv">
    <div>
        <div id="health-concern" style="background-color: #FFFFFF !important;">
            <h5 style="font-weight: 500;margin-left: 31px;padding-top:9px;">Health Medicine</h5>
            <div class="row" style="display: flex;justify-content: center;flex-wrap: wrap;">
                <div class="col s3"
                     style="color: black;border-radius: 10px;margin: 10px;width: 270px;height: 245px;padding: 5px;display: flex;align-items: center;flex-direction: column;box-shadow: 0 4px 8px rgba(0,0,0,0.2);elevation: below;">
                    <div>
                        <img src="/static/images/lungcare.jpg" style="width:150px;height: 150px">
                    </div>
                    <div style="padding:5px;">
                        <div style="font-weight: bolder;text-align: center;width: 200px;">Lung Care</div>
                    </div>
                </div>
                <div class="col s3"
                     style="color: black;border-radius: 10px;margin: 10px;width: 270px;height: 245px;padding: 5px;display: flex;align-items: center;flex-direction: column;box-shadow: 0 4px 8px rgba(0,0,0,0.2);elevation: below;">
                    <div>
                        <img src="/static/images/weightcare.jpg" style="width:150px;height: 150px">
                    </div>
                    <div style="padding:5px;">
                        <div style="font-weight: bolder;text-align: center;width: 200px;">Weight Care</div>
                    </div>
                </div>
                <div class="col s3"
                     style="color: black;border-radius: 10px;margin: 10px;width: 270px;height: 245px;padding: 5px;display: flex;align-items: center;flex-direction: column;box-shadow: 0 4px 8px rgba(0,0,0,0.2);elevation: below;">
                    <div>
                        <img src="/static/images/boneandjointpain.jpg" style="width:150px;height: 150px">
                    </div>
                    <div style="padding:5px;">
                        <div style="font-weight: bolder;text-align: center;width: 200px;">Bone and JointPain</div>
                    </div>
                </div>
                <div class="col s3"
                     style="color: black;border-radius: 10px;margin: 10px;width: 270px;height: 245px;padding: 5px;display: flex;align-items: center;flex-direction: column;box-shadow: 0 4px 8px rgba(0,0,0,0.2);elevation: below;">
                    <div>
                        <img src="/static/images/womenscare.jpg" style="width:150px;height: 150px">
                    </div>
                    <div style="padding:5px;">
                        <div style="font-weight: bolder;text-align: center;width: 200px;">Women Scare</div>
                    </div>
                </div>
                <div class="col s3"
                     style="color: black;border-radius: 10px;margin: 10px;width: 270px;height: 245px;padding: 5px;display: flex;align-items: center;flex-direction: column;box-shadow: 0 4px 8px rgba(0,0,0,0.2);elevation: below;">
                    <div>
                        <img src="/static/images/coldandfever.jpg" style="width:150px;height: 150px">
                    </div>
                    <div style="padding:5px;">
                        <div style="font-weight: bolder;text-align: center;width: 200px;">Cold and Fever</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel carousel-slider">
            <div class="carousel-item row">
                <div class="col s3">
                    <div class="card blue-grey darken-1">
                        <img src="/static/images/d1.jpg" width="100%" alt="">

                    </div>
                </div>
                <div class="col s3">
                    <div class="card blue-grey darken-1">
                        <img src="/static/images/d2.jpg" width="100%" alt="">
                    </div>
                </div>
                <div class="col s3">
                    <div class="card blue-grey darken-1 ">
                        <img src="/static/images/d3.jpg" width="100%" alt="">
                    </div>
                </div>
                <div class="col s3">
                    <div class="card blue-grey darken-1">
                        <img src="/static/images/d4.jpg" width="100%" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s6">
                <h5>Welcome to Med-Assist.com! India's Leading Online Pharmacy!</h5>
                <p>&#9702; With a dynamic legacy of over 100 years in the pharma business, it comes as no surprise that
                    Med-Assist.com is the comes to an online pharmacy in India. Med-Assist.com has a pan India presence
                    as we deliver health care essentials to every state in the India country. We take your health
                    seriously at Med-Assist.com. Be it purchasing medicines online, lab tests or online doctor
                    consultations, we've got it all covered for our customers!</p>
                <h5>Take the Worry Out of Buying Medicines! Purchase Medicines Online Anytime, Anywhere!</h5>
                <p>&#9702; Get everything you need at Med-Assist.com to take care of your health right from
                    high-quality, affordable, authentic prescription medicines, Over-The-Counter pharmaceuticals
                    products to general health care products, Ayurveda, Unani and Homeopathy medicines.</p>
                <p>&#9702; Buy medicines online at Med-Assist.com from the comfort of your home and we will take care of
                    the rest! We will ensure that the life-saving drugs reach your doorstep without a hitch. Do away
                    with the hassle of driving to the medical store, waiting in line, or even remembering your refills!
                    Med-Assist.com will sort out those problems for you effectively so that you can lead a healthy and
                    full life!</p>
                <h5>Buying medicines online</h5>
                <p>&#9702; At Med-Assist.com, we ensure that you get high-quality life-saving medicines are delivered to
                    you on time. Order medicines online at your convenience from across the country. We also deliver
                    Ayurvedic, Homeopathic, Unani and Over-The-Counter (OTC) products to over 19,000 pin codes across
                    the country!</p>
            </div>
            <div class="col s6">
                <h5>Medicine Subscription</h5>
                <p>&#9702; Remembering to refilling medicines month on month to address chronic conditions can be a
                    hassle. Med-Assist' subscription service will ensure that you never run out of these vital
                    medicines. Just set it up and your medicines will get refilled and delivered automatically every
                    month to your doorstep!</p>
                <h5>Med-Assist First</h5>
                <p>&#9702; Med-Assist First is our loyalty programme which puts you and your health First! First members
                    can get an extra 2.5% NMS Cashback (up to INR 100 per order) on prescription medication ordered
                    using the membership. Members are also eligible for free delivery, priority processing, and free
                    online doctor consultations!</p>
                <h5>Diagnostics</h5>
                <p>&#9702; Do you find yourself constantly putting off getting your lab tests done because it's
                    inconvenient to schedule them or because they are expensive? Visit Med-Assist.com to book lab tests
                    and health checkup packages online from well-reputed, certified diagnostic labs according to your
                    convenience and at affordable rates. We will also make your lab reports available online for easy
                    access.</p>
                <p>Ordering medicines online at Med-Assist.com is just a simple 4 step process. Browse through our wide
                    range of health care products, add them to your cart, uploading your prescription (if required) and
                    proceed to checkout!</p>
                <p>With Med-Assist.com, rest assured that your health will be in safe hands!</p>
            </div>
        </div>
    </div>
</div>


