<html>

<!-- Footer -->
<footer class="page-footer" style="background: rgba(222,221,221,0.3);color: black">
    <div>
        <div class="container" style="padding: 20px; width:100%;">
                    <div class="row">
                        <div class="col s12">
                            <h5 class="">Med-Assist<span style="font-size: 13px">.com</span></h5>
                            <p class="grey-text text-lighten-4" style="color: black !important;">Med-Assist.com is one of India’s most trusted
                                pharmacies, dispensing quality medicines at reasonable prices to over 7 million happy
                                customers – PAN India.</p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>COMPANY</b>
                                </li>
                                <li>&#9702; About Netmeds</li>
                                <li>&#9702; Customers Speak</li>
                                <li>&#9702; In the News</li>
                                <li>&#9702; Career</li>
                                <li>&#9702; Terms and Conditions</li>
                                <li>&#9702; Privacy Policy</li>
                                <li>&#9702; Return, Refund and Cancellation Policy</li>
                                <li>&#9702; Contact</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>SHOPPING</b>
                                </li>
                                <li>&#9702; Browse by Manufacturers</li>
                                <li>&#9702; Health Articles</li>
                                <li>&#9702; Offers / Coupons</li>
                                <li>&#9702; FAQs</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>CATEGORIES</b>
                                </li>
                                <li>&#9702; Ayush</li>
                                <li>&#9702; Fitness</li>
                                <li>&#9702; Devices</li>
                                <li>&#9702; Lifestyle</li>
                                <li>&#9702; Family Care</li>
                                <li>&#9702; Personal Care</li>
                                <li>&#9702; Treatments</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>SUBSCRIBE TO OUR NEWSLETTER</b>
                                </li>
                                <p>&#9702; Get a free subscription to our health and fitness tip and stay tuned to our latest
                                    offers</p>

                                <span class="input-field inline">
                                    <input id="email_inline" type="email" class="validate">
                                    <label for="email_inline">Email</label>
                                </span>
                                <span>
                                    <button class="btn waves-effect waves-white btnsize #01a3a4 btnstyle editbtn"
                                        name="action" type="submit">&rarr;
                                        <i class="material-icons right"></i>
                                    </button>
                                </span>
                            </ul>
                        </div>

                    </div>
                    <hr>

                    <div class="row">
                        <div class="col s2">
                            <ul>
                                <li>
                                    <b>Medicine</b>
                                </li>
                            </ul>
                        </div>

                        <div class="col s2">
                            <ul>
                                <li>
                                    <b>Wellness</b>
                                </li>
                            </ul>
                        </div>

                        <div class="col s2">
                            <ul>
                                <li>
                                    <b>Lab Tests</b>
                                </li>

                            </ul>
                        </div>

                        <div class="col s2">
                            <ul>
                                <li>
                                    <b>Beauty</b>
                                </li>
                            </ul>
                        </div>

                        <div class="col s4">
                            <ul>
                                <li>
                                    <b>Copyright© 2022. All Rights Reserved.</b>
                                </li>
                            </ul>
                        </div>

                    </div>

        </div>

        <img src="/static/images/footer1.gif"  style="width: 100%;height: 20%">

    </div>

</footer>
<!----------------->

</html>