<div class="row" style="margin-top: 10px;" id="otp">
                <div style="color: gray;margin-left: 14px;">We have sent 4 digit OTP</div>
                <div class="col s3">
                    <div class="input-field">
                        <input width="10px" style="text-align: center;" id="1" name="digit1" type="password" class="validate">
                    </div>
                </div>
                <div class="col s3">
                    <div class="input-field">
                        <input width="10px" style="text-align: center;" id="2" name="digit2" type="password" class="validate">
                    </div>
                </div>
                <div class="col s3">
                    <div class="input-field">
                        <input width="10px" style="text-align: center;" id="3" name="digit3" type="password" class="validate">

                    </div>
                </div>
                <div class="col s3">
                    <div class="input-field">
                        <input width="10px" style="text-align: center;" id="4" name="digit4" type="password" class="validate">

                    </div>
                </div>
           </div>
